# Copyright (C) 2009-2016  EDF R&D
#
# This library is free software; you can redistribute it and/or
# modify it under the terms of the GNU Lesser General Public
# License as published by the Free Software Foundation; either
# version 2.1 of the License, or (at your option) any later version.
#
# This library is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# Lesser General Public License for more details.
#
# You should have received a copy of the GNU Lesser General Public
# License along with this library; if not, write to the Free Software
# Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307 USA
#
# See http://www.salome-platform.org/ or email : webmaster.salome@opencascade.com
#

include Examples/context.py
include Examples/makefile.inc
include Examples/*/*.f
include Examples/*/*.py
include Examples/*/*.cxx
include Examples/*/*.h
include Examples/*/*.png
include Examples/*/*.ui
include Examples/*/*.rst
include Examples/*/coupling.xml
include Examples/*/Makefile
include Examples/*/README.txt
include Examples/*/f.comm
include Examples/ast*/fcompo/compo.f
include Examples/ast*/fcompo/Makefile
include Examples/ast*/myaster/src/*.f
include Examples/ast*/myaster/catalo/*.capy
include Examples/ast*/myaster/Makefile
include Examples/ast1/myaster/make_cata
include Examples/ast2/myaster/make_exec
include Examples/ast2/myaster/config.txt
include Examples/ast2/exeaster
